.task-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 232px;
    /* margin-bottom: 80px; */
}

.task-h2 {
    margin: 48px 0;
    font-size: 61px;
    font-weight: 700;
    line-height: 73.2px;
}


/* Form field - Containers */

.task-form {
    display: flex;
    flex-direction: column;
justify-content: space-between;
}

.task-input-con {
    display: flex;
    /* width: 976.25px; */
}

.task-input-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 440px;
}

.task-hr {
    background-color: #d1d1d1;
    height: 424px;
    margin: 0 48.125px;
    width: 1px;
}

.task-input-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* height: 416px; */
    justify-content: space-between;
    width: 440px;
}


/* Form field - repetitive elements */

.task-label {
    color: #2A3647;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 20px;
    gap: 8px;
    line-height: 24px;
}

.task-star {
    color: #FF8190;
}

.task-input-fd {
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 16px;
}
.task-input-fd::placeholder {
    color: #d1d1d1;
    font-family: 'Inter', sans-serif;
}


/* Form field - Title & Description */

.task-input-fd-ti {
    padding: 12px 21px;
}
.task-input-fd-desc {
    height: 82px;
    padding: 18px 16px;
}

/* Form field - Assigned to Popup Button */

.task-assigned-to-con {
    position: relative;
}

.task-assigned-to {
    background-image: url(/img/arrow_drop_dow.svg);
    background-position: 95% 50%;
    background-repeat: no-repeat;
    color: #D1D1D1;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 0 12px 16px !important;
    width: 100%;
}

.task-contacts-list-to-assign {
    background-color: white;
    position: absolute;
    overflow: scroll;
    height: 150px;
    width: 100%;
    z-index: 1;
}

.task-contacts-list-to-assign-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 16px;
}

.task-contacts-color-icon {
    height: 40px;
    width: 40px;
    background-color: #FF8190;
    border-radius: 50px;
    margin-right: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-bt-add {
    font-size: 21px;
    gap: 16px !important;
    justify-content: center;
    line-height: 25.2px !important;
    padding: 12px 0;
    width: 100%;
    position: absolute;
    top: 190px;
    z-index: 1;
}

/* Form field - Prio Button */

.task-prio-bt-con {
    display: flex;
    gap: 16px;
    position: relative;
    /* z-index: -1; */
}
.task-prio-bt {
    flex: 1;
    padding: 12px 40px 12px 16px;
    width: 100%;
    
}
.prio-u {
    background-image: url(/img/task-prio-u.svg);
    background-position: 85% 50%;;
    background-repeat: no-repeat;
}
.prio-m {
    background-image: url(/img/task-prio-m.svg);
    background-position: 90% 50%;
    background-repeat: no-repeat;
}
.prio-l {
    background-image: url(/img/task-prio-l.svg);
    background-position: 85% 50%;
    background-repeat: no-repeat;
}

/*  */
.task-sub-input-con {
    background-color: white;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 2px 4px 2px 0;
}

/* 
.task-sub-input-con img {
    margin-right: 16px;
} */

.task-sub-input-con img:hover {
    background-color: #d1d1d1;
    border-radius: 10px;
}

.task-sub-input {
    border: none;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 4px;
    padding: 10px 16px;
    width: 100%;
}

.task-sub-input::placeholder {
    color: #d1d1d1;
}

.task-sub-input:focus {
    outline: none;
}

.task-sub-bt-open-con{
    width: 100%;
}
.task-sub-input-text-con {
    width: 100%;
}

.task-sub-icons {
    align-items: center;
}
.task-sub-hr {
    background-color: #D1D1D1;
    width: 1px;
    height: 30px;
    margin: 0 4px;
}

.task-sub-input-img {
    width: 32px;
}

.subtask-lable {
    position: relative;
}
.task-sub-text {
    /* background-color: white; */
    position: absolute;
    top: 82px;
    /* margin-top: -10px; */
    /* z-index: -1; */
    margin: 6px 0;
    padding-right: 5px;
    width: calc(100% - 45px);
    max-height: 124px;
    overflow: scroll;
    /* border-radius: 0 0 10px 10px; */
}

.task-sub-text-sgl {
    padding: 5px 0;
    word-wrap: break-word;
}

/*  */

.task-foot-con {
    align-items: end;
    display: flex;
    justify-content: space-between;
    margin-top: 138px;
    margin-bottom: 56px;
}

.task-foot-text {
    font: 400;
    font-size: 20px;
    line-height: 24px;
}

.task-button-con {
    display: flex;
    gap: 16px;
}

.task-button {
    align-items: center;
    border-radius: 10px;
    border: 1px solid #2A3647;
    display: flex;
    font-size: 20px;
    gap: 4px;
    line-height: 24px;
    padding: 16px;
}

.task-bt-clear {
    background-color: white;
    color: #2A3647;
    padding-right: 40px;
    background-image: url(/img/task_cancel.svg);
    background-position: 85% 50%;
    background-repeat: no-repeat;
}

.task-bt-create {
    background-color: #2A3647;
    color: white;
    padding-right: 56px;
    background-image: url(/img/task_check.svg);
    background-position: 85% 50%;
    background-repeat: no-repeat;
}

/* Allg. */

.flx {
    display: flex;
}

.flex-just-btw-ct {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Media Query */

@media (max-width: 1264px) {
    .task-hr {
        display: none;
    }
    .task-h2 {
        margin: 32px 0 24px 0;
    }

    .task-input-con {
        flex-direction: column;
        width: auto;
        overflow: scroll;
        height: calc(100vh - 363px);
    }
    .task-input-left {
        width: 640px;
        margin-bottom: 30px;
    }
    .task-input-right {
        width: 640px;
    }

    .task-foot-con {
        margin-top: 48px;
        margin-bottom: 32px;
    }
}

@media (max-width: 950px) {
    .task-body {
        margin-left: 0;
    }
    .task-h2 {
        margin: 24px 0 10px 0;
        font-size: 56px;
    }
    .task-foot-con {
        margin-top: 24px;
        margin-bottom: 16px;
    }
    .task-input-con {
        height: calc(100vh - 391px);
    }
}

@media (max-width: 700px) {
    .task-input-left {
            width: 464px;
        }
    
        .task-input-right {
            width: 464px;
        }
        .task-bt-clear {
            display: none;
        }
    }

@media (max-width: 500px) {
    .task-h2 {
        margin: 16px 0 0 0;
        font-size: 47px;
        line-height: 56.4px;
    }
    .task-input-left {
        width: 360px;
    }
    .task-input-right {
        width: 360px;
    }
    .task-label {
        font-size: 16px;
        line-height: 19.2px;
    }
    .task-input-fd {
        font-size: 16px;
        line-height: 19.2px;
    }
    .task-foot-text {
        font-size: 16px;
    }
    .task-input-con {
        height: calc(100vh - 356px);
    }
}

@media (max-width: 384px) {
    .task-input-left {
        width: 300px;
    }   
    .task-input-right {
        width: 300px;
    }
    .task-bt-create {
        padding-right: 32px;
        background-position: 95% 50%;
    }
    .task-prio-bt {
        padding: 8px 32px 10px 8px;
    }
    .prio-u {
        background-position: 90% 50%;
    }
    .task-foot-text {
        font-size: 12px;
    }
}
