

.board_body {
    position: absolute;
    left: 232px;
    right: 0;
    top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}

.board_p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

h1 {
    font-family: Inter;
    font-size: 61px;
    font-weight: 700;
    line-height: 73px;
    letter-spacing: 0em;
    text-align: left;
}

.board_fbc {
    display: flex;
    flex-direction: column;
}

.board_fbcco {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.board_fbccco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.board_fbsbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.board_fbsbcw {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.board_fbcc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board_fbfb {
    display: flex;
    justify-content: first baseline;
}

.board_columns_fixed {
    position: relative;
    width: 280px;
    min-height: 35em;
}

.board_box {
    min-height: 30em;
    width: 246px;
}

.board_box_highlight {
    min-height: 30em;
    width: 260px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: rgba(231, 231, 231, 1);
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
}

.board_header {
    position: relative;
    width: 100%;
    background-color: #F6F7F8;
}

.board_button_add_task {
    margin-left: 30px;
    width: 160px;
    height: 48px;
    background-color: rgb(42, 54, 71);
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    border: 1px;
    gap: 4px;
    padding: 8px, 16px, 8px, 16px;
    color: white;
}

.board_button_add_task:hover {
    cursor: pointer;
    background-color: rgba(42, 54, 71, 0.8);
}

.board_button_add_task_small {
    display: none;
}

.board_button_add_task_small:hover {
    cursor: pointer;
    background-color: rgba(42, 54, 71, 0.8);
}

.board_serch {
    margin-left: 20px;
    width: 312px;
    height: 48px;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 10px;
    border: 1px;
    gap: 10px;
    background: white;
    border: 1px solid #A8A8A8;
}

.board_serch_left {
    padding-left: 10px;
    width: 240px;
    height: 32px;
    border: 0;
    outline: none;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border-right: 1px solid rgba(209, 209, 209, 1)
}

.board_serch_svg {
    height: 31px;
    right: 50px;
    margin-right: 20px;
    padding: 2px;
}

.board_serch_svg:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 25px;
    padding: 2px;
}

.board_columns {
    width: 246px;
}

.board_no_task {
    margin: 10px;
    width: 260px;
    height: 48px;
    border-radius: 10px;
    border: 1px;
    gap: 10px;
    background-color: rgba(231, 231, 231, 1);
    border: 2px dashed rgba(168, 168, 168, 1);
  
    color: rgba(168, 168, 168, 1);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.board_no_task:hover {
    cursor: default;
    background-color: rgba(231, 231, 231, 0.7);
}

.board_note {
    background-color: white;
    width: 220px;
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 24px;
    gap: 10px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
}

.board_note:hover {
    cursor: pointer;
    transform: rotate(5deg);

}

.board_task_headline {
    background-color: aqua;
    width: fit-content;
    height: auto;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    gap: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}

.board_task_header {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.board_task_text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px;
}

.board_task_progess_empty {
    background: rgba(244, 244, 244, 1);
    width: 128px;
    height: 8px;
    top: 4px;
    padding: 0px, 64px, 0px, 0px;
    border-radius: 8px;
    gap: 10px;
}

.board_task_progess {
    height: 8px;
    align-self: stretch;
    border-radius: 8px;
    background: rgba(69, 137, 255, 1);
}

.board_task_progess_text {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
}

.board_task_name_box {
    margin-left: 10px;
}

.board_task_name {
    margin-left: -10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 45px;
    border: 1px solid white;
    gap: 10px;
}

.board_task_prio img {
    width: 32px;
    height: 32px;
    padding: 10px, 18px, 10px, 18px;
    gap: 10px;
}

.board_footerline {
    margin-top: 10px;
}

.dn {
    display: none;
}

.board_add {
    cursor: pointer;
    height: 30px;
    width: 30px;
}


@media (max-width: 1000px) {

    .board_heder_small {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .board_header {
        justify-content: space-around;
        flex-direction: column;
    }

    .board_serch {
        width: 100%;
        margin: 0;
    }

    .board_button_add_task {
        display: none;
    }

    .board_button_add_task_small {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        background-color: rgb(42, 54, 71);
        font-size: 21px;
        line-height: 25px;
        font-weight: 700;
        text-align: center;
        border-radius: 10px;
        border: 1px;
        gap: 4px;
        padding: 8px, 16px, 8px, 16px;
        color: white;
    }

    .board_button_add_task_small:hover {
        cursor: pointer;
        background-color: rgba(42, 54, 71, 0.8);
    }

    .board_serch_small {
        width: 100%;
    }

    .board_serch_left {
        width: 100%;
    }

    .board_columns_fixed {
        width: auto;
    }
}

@media (max-width: 880px) {
    .board_columns_fixed {
        min-height: auto;
        width: 100%;
    }

    .board_columns {
        width: 100%;
    }

    .board_box {
        display: -webkit-inline-box;
        width: 100%;
        min-height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: initial;
        overflow-x: auto;
        scrollbar-width: auto;
        scrollbar-color: #6C757D #ffffff;
    }

    .board_box::-webkit-scrollbar {
        width: 16px;
    }

    .board_box::-webkit-scrollbar-track {
        background: #ffffff;
    }

    .board_box::-webkit-scrollbar-thumb {
        background-color: #6C757D;
        border-radius: 10px;
        border: 3px solid #ffffff;
    }

    .board_columns_fixed_small {
        flex-direction: column;
        width: 100%;
    }

    .board_note {
        margin-right: 20px;
    }
}