.contacts-body {
    display: flex;
}


/* Main page */
.contacts-main {
    margin-top: 96px;
}

.contacts-head {
    display: flex;
    align-items: center;
    margin-top: 110px;
    margin-left: 55px;
}

.contacts-h2 {
    font-size: 61px;
    line-height: 73.2px;
    margin: 0;
}
    
.contacts-hr {
    border: 1px solid #29ABE2;
    height: 59px;
    margin: 0 30px;
}

.contacts-head-text {
    font-size: 27px;
    line-height: 32.4px;
    color: #2A3647;
}


/* Side section - Contacts list container */

.contacts-list-section {
    background-color: white;
    /* width: 352px; */
    height: calc(100vh - 96px);
    display: flex;
    flex-direction: column;
    padding-left: 52px;
    padding-right: 52px;
    box-shadow: 4px 0px 8px 0px rgba(0, 0, 0, 0.1);
    margin-left: 232px;
    margin-top: 96px;
}

.contacts-bt-add {
    font-size: 21px;
    gap: 16px;
    justify-content: center;
    line-height: 25.2px;
    margin-top: 22.5px;
    padding: 12px 0;
    width: 100%;
}

/* Contacts List */

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    overflow: scroll;
}

.contacts-list-sgl-con {
    display: flex;
    align-items: start;
    border-radius: 10px;
    padding: 15px 24px;
}
.contacts-list-sgl-con:hover {
    background-color: #F6F7F8;
}

.contacts-color-icon {
    aspect-ratio: 1;
    border: 3px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background-color: #FF8190;
    border-radius: 50px;
    margin-right: 32px;
}

.contact-name {
    margin: 0 0 8px 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.contact-email {
    color: #007CEE;
    font-size: 16px;
    line-height: 19.2px;
}

.contacts-list-letters {
    font-size: 20px;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin-left: 24px;
    margin-bottom: 16px;
}
.contacts-hr-line {
    background-color: #D1D1D1;
    height: 1px;
    width: 100%;
}


/* Clicked Contact shown on main page*/

.contact-clicked {
    margin: 0 55px 55px 55px;
}

.contact-sgl-head-con {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.con-icon-sz {
    aspect-ratio: 1;
    height: 120px;
    width: 120px;
    border-radius: 70px;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.contact-name-sgl {
    margin: 0 0 8px 0;
    font-weight: 500;
    font-size: 47px;
    line-height: 56.4px;
}

.contact-bt-sgl {
    border: none;
    display: flex;
    align-items: center;
    background-color: #F6F7F8;
    font-size: 16px;
    line-height: 19.2px;
}
.contact-bt-sgl:hover {
    color: #29ABE2;
    font-weight: 600;
}

.contact-bt-sgl img {
    margin-right: 8px;
}

.contact-sgl-text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 48px 0;
}

.contact-h4 {
    margin-top: 32px;
    margin-bottom: 16px;
}

/* PopUp Add contact */

.contacts-add-bg {
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(191,191,191, 0.3);
    /* background-color: #BFBFBF; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.contacts-add-con {
    display: flex;
    transform: translateX(4000px);
    transition: all 825ms ease-in-out;
}
.contacts-add-con-show {
    transform: translateX(0);
}

.contacts-add-con-left {
    border-radius: 30px 0 0 30px;
    background-color: #2A3647;
    color: white;
    height: 462px;
    width: 371px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 66px 48px;
}

.contacts-join-logo {
    width: 55.6px;
    height: 66.48px;
    margin-bottom: 8px;
}

.contacts-add-text {
    font-size: 27px;
    line-height: 32.4px;
    margin: 8px 0 16px 0;
    font-weight: 400;
}

.contacts-hr-ho {
    width: 90px;
    border: 1.5px solid #29ABE2;
    margin-bottom: 66px;
}


.contacts-add-con-right {
    border-radius: 0 30px 30px 0;
    background-color: white;
    height: 498px;
    width: 649px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 48px 48px;
    gap: 57px;
}

.contacts-add-close-con {
    display: flex;
    justify-content: end;
}
.contacts-add-close-con img {
    padding: 4px 3.5px;
}
.contacts-add-close-con img:hover {
    background-color: #D1D1D1;
    border-radius: 50px;
}

.contacts-con-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts-user-logo {
    height: 120px;
    width: 120px;
    margin-left: 35px;
    margin-bottom: 72px;
}
.contacts-user-popup {
    border-radius: 70px;
    margin-right: 0;
    font-size: 47px;
    font-weight: 500;
    line-height: 56.4px;
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.1);
}

.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contacts-input-con {
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 422px;
    padding: 3px 0;
}

.contacts-input-con img {
    padding-right: 21px;
}

.contacts-input {
    border: none;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 0 4px;
    padding: 10px 21px;
    width: 100%;
}
.contacts-input::placeholder {
    color: #d1d1d1;
}
.contacts-input:focus {
    outline: 0;
}


/* Button Cancel + Create */
.contacts-button-con {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}
.contacts-button {
    align-items: center;
    border-radius: 10px;
    border: 1px solid #2A3647;
    display: flex;
}
.contacts-bt-ft {
    font-size: 20px;
    gap: 4px;
    line-height: 24px;
    padding: 16px;
}
.contacts-bt-clear {
    background-color: white;
    color: #2A3647;
}
.contacts-bt-clear:hover {
    color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.contacts-bt-create {
    background-color: #2A3647;
    color: white;
    font-weight: 700;
}
.contacts-bt-create:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.contacts-bt-check {
    padding-right: 40px;
    background-image: url(/img/task_check.svg);
    background-position: 92% 50%;
    background-repeat: no-repeat;
}
.contacts-bt-cancel {
    padding-right: 40px;
    background-image: url(/img/task_cancel.svg);
    background-position: 92% 50%;
    background-repeat: no-repeat;
}
.contacts-bt-cancel:hover {
    background-image: url(/img/task_cancel_blue.svg);
    background-size: 21%;
}


/* Allg. */

.flx {
    display: flex;
}

.flx-col {
    display: flex;
    flex-direction: column;
}


/* Media Query */

@media (max-width: 1264px) {
.contacts-head {
        margin-top: 56px;
        margin-left: 40px;
        flex-direction: column;
        align-items: start;
    }
.contact-clicked {
    margin: 0 40px 40px 40px;
    }
.contacts-list-section {
    width: 260px;
    padding-left: 24px;
    padding-right: 24px;
}
.contacts-list-letters {
    margin-left: 10px;
    margin-bottom: 8px;
}
.contacts-list-sgl-con {
    padding: 7px;
}
.contacts-color-icon {
    margin-right: 16px;
}
.contacts-h2 {
    font-size: 56px;
    line-height: 64px;
}
.contacts-hr {
    width: 90px;
    margin: 0;
    height: 0;
    order: 1;
}
.contacts-head-text {
    margin: 16px 0;
}
.con-icon-sz {
    height: 104px;
    width: 104px;
    font-size: 40px;
    line-height: 48px;
    margin-right: 24px;
}
.contact-name-sgl {
    font-size: 40px;
    line-height: 48px;
}
.contact-sgl-text {
    margin: 40px 0;
}
.contact-h4 {
    margin-top: 16px;
}
}



@media (max-width: 950px) {
.contacts-list-section {
    margin-left: 0;
    height: calc(100vh - 186px);
}
}



@media (max-width: 700px) {
.contacts-main {
    position: relative;
}
.d-none-700 {
    display: none;
}
.contacts-list-section {
    width: 100vw;
}
.contacts-mobil-arrow-back {
    display: block !important;
    position: fixed;
    top: 122px;
    right: 16px;
}
}


@media (max-width: 400px) {
    .contacts-color-icon {
        font-size: 12px;
        border: 2px solid white;
    }
    .contacts-list-section {
        position: relative;
    }
    .contacts-bt-create {
        width: 58px;
        height: 58px;
        border-radius: 50%;
        position: fixed;
        bottom: 122px;
        right: 16px;
    }
    .contacts-bt-create span {
        display: none;
    }
    .contacts-head {
        margin-top: 24px;
        margin-left: 16px;
        font-size: 47px;
        line-height: 56.4px;
    }
    .contacts-head-text {
        font-size: 20px;
        line-height: 24px;
        margin: 8px 0 16px 0;
    }
    .contact-clicked {
        margin: 0 16px 16px 16px;
    }
    .con-icon-sz {
        height: 80px;
        width: 80px;
        font-size: 27px !important;
        line-height: 32.4px;
    }
    .contact-name-sgl {
        font-size: 36px;
        line-height: 43.2px;
        font-weight: 700;
    }
}


/* Media Query PopUp Window - add new / edit Contact */

@media (max-width: 1264px) {
.contacts-add-con-left {
    height: auto;
    width: auto;
    padding: 28px 28px;
}
.contacts-add-con-right {
    padding: 28px 28px;
    height: auto;
    width: auto;
    justify-self: unset;
    gap: unset;
}
.contacts-con-sub {
    flex-direction: column;
    justify-content: unset;
}
.contacts-user-logo {
    margin-left: 0;
    margin-bottom: 24px;
}
.contacts-form {
    gap: 24px;
}
.contacts-button-con {
    margin-top: 24px;
}
.contacts-user-popup {
    margin-right: 0;
}
}


@media (max-width: 950px) {
    .contacts-add-con {
        flex-direction: column;
        position: relative;
    }
    .contacts-add-con-left {
        border-radius: 30px 30px 0 0;
        height: 295px;
    }
    .contacts-join-logo {
        display: none;
    }
    .contacts-add-text {
        font-size: 20px;
        line-height: 24px;
        font-weight: 400;
    }
    .contacts-hr-ho {
        margin-bottom: 0;
    }
    .contacts-add-con-right {
        border-radius: 0 0 30px 30px;
    }
    /* hier muss das img getauscht werden */
    .contacts-add-close-con {
        position: absolute;
        top: 28px;
        right: 28px;
        background-color: white;
    }
    .contacts-user-logo {
        margin-top: -90px;
    }
    .contacts-user-popup {
        margin-top: -90px;
    }
    .contacts-form {
        gap: 20px;
    }
    .contacts-button-con {
        justify-content: center;
        margin-top: 0;
    }
    .contacts-bt-clear {
        display: none;
    }
}


@media (max-width: 700px) {
    .contacts-add-con-left {
        height: 256px;
    }
    .contacts-h2 {
        font-size: 47px;
        line-height: 56.4px;
        font-weight: 700;
    }
    .contacts-input-con {
        width: 296px;
    }
    .contacts-input {
        padding: 4px 10px;
    }
    .contacts-bt-ft {
        padding: 10px;
    }
}



@media (max-width: 400px) {
    .contacts-add-con-left {
        height: 232px;
        padding: 16px;
    }
    .contacts-h2 {
        font-size: 40px;
        line-height: 41.4px;
    }
    .contacts-add-text {
        font-size: 16px;
        line-height: 20px;
    }
    .contacts-add-con-right {
        padding: 16px;
    }
    .contacts-user-popup {
        font-size: 47px;
        line-height: 56.4px;
        font-weight: 500;
        border: 3px solid white;
    }
    .contacts-user-logo {
        margin-bottom: 16px;
    }
    .contacts-form {
        gap: 16px;
    }
    .contacts-bt-ft {
        width: auto;
        height: auto;
        border-radius: 10px;
        position: unset;
        top: 0;
    }
    .contacts-input-con {
        width: 238px;
    }

}