body {
    margin: 0;
    background-color: #F6F7F8;

}

.summary_body {
    position: absolute;
    left: 232px;
    right: 0;
    top: 75px;
    margin-left: 50px;
    margin-right: 50px;
}

.summary_dn {
    display: none;
}

.summary_headline_left {
    font-size: 61px;
    font-weight: 700;
}

.summary_headline_right {
    font-size: 27px;
    font-weight: 400;
    color: #2A3647;
}

.summary_greeting_font_top {
    font-size: 47px;
    font-weight: 500;
    color: #2A3647;
}

.summary_greeting_font_top_popup {
    font-size: 36px;
    font-weight: 400;
    color: #2A3647;
    line-height: 43px;
}

.summary_greeting_font_name {
    font-size: 64px;
    font-weight: 700;
    color: #29ABE2;
}

.summary_greeting_font_name_popup {
    font-size: 47px;
    font-weight: 700;
    color: #29ABE2;
    line-height: 56px;
}

.summary_container {
    width: 100%;
    height: 100%;
}

.summary_task {
    max-width: 100%;
}

.summary_header {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    transition: all 0.5s;
}

.summary_container {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.summary_fbcc {
    display: flex;
    justify-content: center;
    align-items: center;

}

.summary_fbsec {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.summary_fbsbc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.summary_fbcco {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.summary_fbccco {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.summary_fbscc {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.summary_fbfsco {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.summary_fbfsc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.summary_greeting {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-left: 25px;
}

.summary_left_start {
    position: relative;
    height: 168px;
    width: 264px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.summary_left_start:hover {
    margin: 0;
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    padding: 10px;
    transition: all 0.05s;
}


.summary_box_margin {
    margin: 10px;
}

.summary_left_center {
    position: relative;
    width: 100%;
    height: 168px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.summary_left_center:hover {
    margin: 0;
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    padding: 10px;
    transition: all 0.05s;
}

.summary_left_start_center {
    position: relative;
    height: 168px;
    width: 264px;
    border-radius: 30px;
    transition: all 0.05s;
}


.summary_left_ende {
    position: relative;
    width: 168px;
    height: 168px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.summary_left_ende:hover {
    margin: 0;
    cursor: pointer;
    background-color: #2A3647;
    color: white;
    padding: 10px;
    transition: all 0.05s;
}

.summary_left_ende-box {
    margin: 10px;
}

.summary_box_posititon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.summary_icon {
    height: 69px;
    width: 69px;
}

.summary_number_font {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
}

.summary_text_font {
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}

.summary_text_date {

    margin-bottom: 15px;
    font-size: 21px;
    line-height: 25px;
    font-weight: 700;
}

.summary_text_date_bottom {
    color: #2A3647;
    font-size: 16px;
    line-height: 19px;
    font-weight: 100;
}

.summary_center_box_left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.summary_svg_center {
    margin-right: 50px;
    height: 106px;
    width: 2px;

}

.summary_popup {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    top: 100%;
    left: 100%;
    transform: translate(0);
    background-color: #F6F7F8;
    padding: 0px;
    border: 1px solid #ccc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    animation: fadeInOut 2s ease forwards;
    /* Einblenden und Ausblenden in 4 Sekunden */
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
        transform: translate(-100%, -100%);
        /* Startposition oberhalb des Bildschirms */
    }

    10% {
        opacity: 1;
        transform: translate(-100%, -100%);
        /* Einblenden */
    }

    90% {
        opacity: 1;
        transform: translate(-100%, -100%);
        /* Sichtbar bleiben */
    }

    100% {
        opacity: 0;
        transform: translate(-100%, -100%);
        /* Ausblenden */
    }
}

@media (max-width: 1100px) {

    .summary_greeting {
        display: none;
    }
}


@media (max-width: 950px) {
    .summary_body {
        position: absolute;
        left: 0px;
        right: 0;
        top: 80px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .summary_fbfsco {
        transition: all 5s;
        transition: all 0.5s;
    }

    .summary_fbfsc {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .summary_body {
        position: absolute;
        left: 0px;
        right: 0;
        top: default;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        ;
    }



}

@media (min-width: 730px) {
    .summary_header_small {
        display: none;
        transition: all 0.5s;
    }
}

@media (max-width: 730px) {

    .summary_header_big {
        display: none;
        transition: all 0.5s;
    }

    .summary_header_small {


        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        transition: all 0.5s;
    }

    .summary_header {
        top: 0px;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        transition: all 0.5s;
    }

    .summary_tasks_layout {
        position: relative;
        top: -20px;
        -webkit-transform: scale(0.85);
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
        transform: scale(0.85);
        transition: all 0.5s;
    }
}

@media (max-width: 530px) {
    .summary_header {
        width: 100%;
        transition: all 0.5s;
    }

    .summary_tasks_layout {
        position: relative;

        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
        transition: all 0.5s;
    }

    .summary_headline_left {
        font-size: 47px;
        font-weight: 700;
        transition: all 0.5s;
    }

    .summary_headline_right {
        font-size: 20px;
        transition: all 0.5s;
    }
}

@media (max-width: 428px) {

    .summary_body {
        position: absolute;
        left: 0px;
        right: 0;
        top: 100px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .summary_svg_center {
        margin-right: 15px;
        margin-left: 15px;
        width: auto;
        height: 68px;

    }

    .summary_left_center {
        margin: 0;
        height: 110px;
    }

    .summary_left_start {
        width: 100%;
        height: 116px;
    }

    .summary_left_start_center {
        padding-left: 25px;
        width: auto;
    }

    .summary_left_ende {
        height: 116px;
    }

    .summary_icon {
        height: 40px;
        width: 40px;
    }

    .summary_number_font {
        text-align: center;
        font-size: 47px;
        font-weight: 600;
        line-height: 58px
    }

    .summary_text_font {
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #2A3647;
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .summary_text_date {
        color: #2A3647;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
        padding-right: 10ps;
    }

    .summary_text_date_bottom {
        color: #2A3647;
        font-size: 14px;
        line-height: 17px;
        font-weight: 400;
    }

    .summary_center_box_left {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .summary_tasks_layout {
        position: relative;
        top: 0;
        width: 100%;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        transition: all 0.5s;
    }

    .summary_fbcc {
        margin: 10px;
    }
}