<header>
    <img style="margin-left: 30px;" src="../img/Capa 3.svg">

    <h3 class="Kanban">Kanban Project Management Tool</h3>

    <div class="user-border">
        <a href="/help.html">
            <img class="help" src="/../img/help.svg">
        </a>
        <div class="user-border-logo" onclick="userNavbar()">
            <span>G</span>
        </div>
        <div class="Logout d-none" id="navbar">
            <button onclick="openPage('/legal_notice.html')" class="btn-logout">Legal notice</button>
            <button onclick="openPage('/privacy_policy.html')" class="btn-logout">Privacy Policy</button>
            <button onclick="openPage('/index.html');clearLocalStorage()" class="btn-logout">Log out</button>
        </div>
    </div>
</header>