<div class="sidebar">
  <div class="sidebarContent">
    <img onclick="openPage('/summary.html')" class="sidebarLogo" src="../img/Capa 2.svg" alt="JoinLogo" />
    <div class="sidebarNav">
      <div
        onclick="openPage('/summary.html')"
        class="sidebarBtn sidebarBtnActive"
      >
        <img class="" src="../img/Vector.svg" alt="Summary" />
        <span>Summary</span>
      </div>
      <div onclick="openPage('/add_task.html')" class="sidebarBtn">
        <img class="" src="../img/edit_square.svg" alt="Add Task" />
        <span>Add Task</span>
      </div>
      <div onclick="openPage('/board.html')" class="sidebarBtn">
        <img class="" src="../img/Vector (1).svg" alt="Board" />
        <span>Board</span>
      </div>
      <div onclick="openPage('/contacts.html')" class="sidebarBtn">
        <img class="" src="../img/perm_contact_calendar.svg" alt="Contacts" />
        <span>Contacts</span>
      </div>
    </div>
    <div class="sidebarPrivacy">
      <a style="margin-bottom: 20px" target="_blank" href="privacy_policy.html">Privacy Policy</a>
      <a target="_blank" href="legal_notice.html">Legal notice</a>
    </div>
  </div>
</div>
