<div class="sidebar">
    <div class="sidebarContent">
        <img class="sidebarLogo" src="../img/Capa 2.svg" alt="JoinLogo">
        <div class="sidebarNav">
            <div class="sidebarBtn sidebarBtnActive">
                <img class="" src="../img/Vector.svg" alt="Summary">
                <p>Summary</p>
            </div>
            <div class="sidebarBtn">
                <img class="" src="../img/edit_square.svg" alt="Add Task">
                <p>Add Task</p>
            </div>
            <div class="sidebarBtn">
                <img class="" src="../img/Vector (1).svg" alt="Board">
                <p>Board</p>
            </div>
            <div class="sidebarBtn">
                <img class="" src="../img/perm_contact_calendar.svg" alt="Contacts">
                <p>Contacts</p>
            </div>
        </div>
        <div class="sidebarPrivacy">
            <a style="margin-bottom: 20px;" href="">Privacy Policy</a>
            <a href="">Legal notice</a>
        </div>
    </div>
</div>